/* *********  /timeline  **************************** */
/* *********  easypie  **************************** */
/* *********  /easypie  **************************** */
/* *********  form wizard  **************************** */

.form_wizard .stepContainer {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0 solid #CCC;
    overflow-x: hidden;
}
/**-------**/

.wizard_horizontal ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 100%;	
    margin: 0 0 0px;
}

.wizard_horizontal ul.wizard_steps li {
    display: table-cell;
    text-align: center;
}

.wizard_horizontal ul.wizard_steps li a,
.wizard_horizontal ul.wizard_steps li:hover {
    display: block;
    position: absolute;
    -moz-opacity: 1;
    filter: alpha(opacity: 100);
    opacity: 1;
    color: #666;
}

.wizard_horizontal ul.wizard_steps li a:before {
    content: "";
    position: absolute;
    height: 4px;
    background: #ccc;
    top: 20px;
    width: 100%;
    z-index: 1000;
    left: 0;
}

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
    background: #f8f8f8;
}

.wizard_horizontal ul.wizard_steps li a .step_no {
    width: 30px;
    height: 30px;
    line-height: 40px;
    border-radius: 30px;
    display: block;
    margin: 0 auto 5px;
    font-size: 10pt;
    text-align: center;
    position: relative;
    z-index: 5;
}

.wizard_horizontal ul.wizard_steps li a.selected:before,
.step_no {
    background: #f8f8f8;
    color: #f8f8f8;
}

.wizard_horizontal ul.wizard_steps li a.done:before,
.wizard_horizontal ul.wizard_steps li a.done .step_no {
    background: #f8f8f8;
    color: #f8f8f8;
}

.wizard_horizontal ul.wizard_steps li:first-child a:before {
    left: 50%;
}

.wizard_horizontal ul.wizard_steps li:last-child a:before {
    right: 50%;
    width: 50%;
    left: auto;
}
/**-------**/

.wizard_verticle .stepContainer {
    width: 80%;
    float: left;
    padding: 0 10px;
}

.form_wizard .stepContainer div.content {
    display: block;
    position: absolute;
    float: left;
    margin: 0;
    padding: 5px;
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #5A5655;
    height: 300px !important;
    text-align: left;
    overflow: auto;
    z-index: 88;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    clear: both;
}

.claseBotones {
	color: #f8f8f8;
}

.actionBar {
    width: 100%;
    text-align: right;
	margin-left: 200px;
    padding-top: -100px;	
	text-align: center;
	position: relative;
	z-index:1;
}

.actionBar .buttonDisabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
	text-align: center;
	background-color:transparent;
	border-color: #f8f8f8;
}

.actionBar a {
    margin: 10px;
	text-align: center;
	margin-top: -100px;
	color:#ffffff;
}
/**-------**/

.wizard_verticle .wizard_content {
    width: 80%;
    float: left;
    padding-left: 20px;
}

.wizard_verticle ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 20%;
    float: left;
    margin: 0 0 0px;
}

.wizard_verticle ul.wizard_steps li {
    display: list-item;
    text-align: center;
}

.wizard_verticle ul.wizard_steps li a {
    height: 80px;
}

.wizard_verticle ul.wizard_steps li a:first-child {
    margin-top: 0px;
}

.wizard_verticle ul.wizard_steps li a,
.wizard_verticle ul.wizard_steps li:hover {
    display: block;
    position: relative;
    -moz-opacity: 1;
    filter: alpha(opacity: 100);
    opacity: 1;
    color: #666;
}

.wizard_verticle ul.wizard_steps li a:before {
    content: "";
    position: absolute;
    height: 100%;
    background: #ccc;
    top: 0px;
    width: 4px;
    z-index: 4;
    left: 49%;
}

.wizard_verticle ul.wizard_steps li a.disabled .step_no {
    background: #ccc;
}

.wizard_verticle ul.wizard_steps li a .step_no {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    display: block;
    margin: 0 auto 5px;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 5;
}

.wizard_verticle ul.wizard_steps li a.selected:before,
.step_no {
    background: #f8f8f8;
    color: #f8f8f8;
}

.wizard_verticle ul.wizard_steps li a.done:before,
.wizard_verticle ul.wizard_steps li a.done .step_no {
    background: #f8f8f8;
    color: #f8f8f8;
}

.wizard_verticle ul.wizard_steps li:first-child a:before {
    left: 49%;
}

.wizard_verticle ul.wizard_steps li:last-child a:before {
    left: 49%;
    left: auto;
    width: 0;
}
/**-------**/
/* *********  /form wizard  **************************** */
/* *********  notifications  **************************** */
/* Pnotify by Hunter Perrin :: 2.0.1 */